/*
 * Mitchell Ly
 * May 4th, 2023
 * AD, Benjamin and Kasten
 *
 * This is the css for the login-page.html. The theme is currently not set in stone yet
 and place holder colors are currently being used. The css is very simple, with there
 just being one centered section, where all log in input and buttons are placed.
 */

#page-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98.7vh;
  background-color: cornflowerblue;
  /* max-height: 50vh; */
}

article {
  text-align: center;
  background-color: aliceblue;
  width: 50%;
  padding: 20px;
  margin: auto;
  border-radius: 9px;
  color: red;
}

.hidden {
  display: none;
}

section {
  background-color: gray;
  height: 75%;
  width: 35%;
  border-radius: 5px;
  padding: 20px;
  /* flex-direction: column; */
}

h1 {
  text-align: center;
  font-size: 48px;
}

form {
  justify-content: space-evenly;
  height: 70%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

input {
  background-color: bisque;
  width: 75%;
  padding: 30px;
  border-radius: 10px;
  border: none;
}

button {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: bisque;
}
